 /* //////////////// */
 /* ///// MAIN ///// */
 /* //////////////// */

body {
	background-color: #7db701;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 1.5em;
	line-height: 1.5;
}

p {
	color: #7b7b7b;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

a, a:focus, a:hover {
	text-decoration: none;
	color: #333;
}

blockquote {
	border-left-color: #7db701;
	border-radius: 5px;
	text-align: left;
	font-size: 15px;
}

ul {
  padding-left: 0;
}

.container {
	position: absolute;
	margin: -300px auto 0 auto;
	top: 50%;
	left: 0;
	right: 0;
	overflow: hidden;
}

.container a:hover {
	color: #7db701;
}

.post-header {
	text-align: center;
}

.post-header h3:before, .post-header h3:after {
  content: "";
  display: inline-block;
  margin: 7px;
  width: 20%;
  height: 5px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.post-header h3 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
}

.section {
	margin: 30px 0;
}

.social_icon span {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 30px;
  text-align: center;
  margin: 0 1px;
}

.social_icon span a {
  display: block;
  border-radius: 100%;
  border: 1px solid #999;
  color: #999;
  height: 100%;
}

.social_icon span a:hover {
  border-color: #7db701;
}

.table li {
  list-style: none;
  display: inline-block;
  margin: 10px 0;
}

.table-left-part {
/*	position: relative;
  float: left;
  padding: 30px 20px;
  border-right: 2px solid #ddd;
  margin-right: 20px;*/
  text-align: center;
}

.table-right-part {
	border-left: 2px solid #ddd;
	padding-left: 15px;
}

/* //////////////////// */
/* ///// END MAIN ///// */
/* //////////////////// */

/* /////////////////////// */
/* ///// PHOTOGRAPHY ///// */
/* /////////////////////// */

#parag {
	position: absolute;
	bottom: 10px;
	left: 20px;
}

#parag p, #parag h3 {
	color: white;
}	

/* /////////////////////////// */
/* ///// END PHOTOGRAPHY ///// */
/* /////////////////////////// */

/* //////////////// */
/* ///// MENU ///// */
/* //////////////// */

.nav-tabs {
	background-color: #f9f9f9;
}

.nav-tabs a {
	color: #7b7b7b;
}

.nav-tabs>li.active>a,
 .nav-tabs>li.active>a:hover,
   .nav-tabs>li.active>a:focus {
	color: #7db701;
}
/* //////////////////// */
/* ///// END MENU ///// */
/* //////////////////// */

/* /////////////////// */
/* ///// CONTENT ///// */
/* /////////////////// */
.tab-content {
	background-color: white;
}

.tab-pane {
	padding: 30px;
}

/* ///// WELKOME ///// */
/* Message */

#block-message {
	position: relative;
	margin-top: 20px;
	padding-left: 0px;
	background-color: #f9f9f9;
}

#block-message strong {
	font-style: italic;
	font-size: 25px;
}

#block-message img {
	position: absolute;
	right: 50px;
	bottom: -30px;
}

#block-message i {
	right: 20px;
	position: absolute;
}

/* End Message */
/* Optional Panel */

.optional-panel {
	margin-top: 70px;
	padding-left: 0;
}

.hr-button {
	float: left;
	padding-top: 5px;
}

.hr-button a {
  letter-spacing: 0.5px;
  padding: 5px 12px;
  color: #999;
  margin: 0 5px;
  border-radius: 10px;
  border: 2px solid #999;
}

.hr-button a:hover {
  border-color: #7db701;
}

#alert {
	display: none;
	position: fixed;
	z-index: 1;
}

.optional-panel .social_icon {
	text-align: right;
}

/* End Optional Panel */
/* Contact Table Block */

#welcome .contact-block {
	margin-top: 50px;
	background-color: #f9f9f9;
}

.text-right {
  color: #7b7b7b;
}

.font-weight-m {
  font-weight: bolder;
}
/* End Contact Table Block */
/* ///// END WELKOME ///// */

/* ///// PROFILE ///// */
/* SKILLS */

.skillbar {
	position: relative;
	display: flex;
  animation-duration: 3s;
  animation-name: skillbar;
  line-height: 28px;
  height: 30px;
  margin: 10px 0;
}

#sb1 {animation-timing-function: linear;}
#sb2 {animation-timing-function: ease;}
#sb3 {animation-timing-function: ease-in;}
#sb4 {animation-timing-function: cubic-bezier(1, 0, 0.22, 2.5);}
#sb5 {animation-timing-function: ease;}
#sb6 {animation-timing-function: linear;}
#sb7 {animation-timing-function: ease-in-out;}

#sb1 div {background-color: rgb(239, 128, 38);}
#sb2 div {background-color: rgb(1, 111, 184);}
#sb3 div {background-color: rgb(247, 210, 5);}
#sb4 div {background-color: rgb(240, 0, 0);}
#sb5 div {background-color: rgb(87, 59, 126);}
#sb6 div {background-color: rgb(21, 181, 61);}
#sb7 div {background-color: rgb(105, 193, 245);}

@keyframes skillbar {
  from {width: 0%;}
  to {width: 100%;}
}

.progress-bar {
	margin-right: 5px;
	line-height: 28px;
	font-size: 1em;
}

/* END SKILLS */
/* CERTIFICATES */

.table-left-part img {
  max-width: 150px;
  max-height: 100px;
}

/* END CERTIFICATES */

/* TESTIMONIALS */
#testimonials-slider {
	text-align: center;
}

.testimonials_name {
  font-size: 12px;
  font-weight: bold;
}

.shape {
  width: 50px;
  height: 5px;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  margin: 10px auto;
}
/* END TESTIMONIALS */
/* ///// END PROFILE ///// */

/* ///// RESUME ///// */
/*#resume .table-left-part {
	width: 140px;
}*/

#resume .table-right-part {
	
}


/* EDUCATION */

.box_content {
  padding-top: 8px;
}

/* END EDUCATION */

/* EMPLOYMENT */

/* END EMPLOYMENT */
/* ///// END RESUME ///// */

/* ///// PORTFOLIO ///// */
/* PORTFOLIO */

.posts-analyser img, .vcard img, .airsoft img, .studio-brothers img {
	margin-bottom: 30px;
}

/* END PORTFOLIO */
/* WORKING ON */
/* END WORKING ON */
/* ///// END PORTFOLIO ///// */

/* ///// CONTACT ///// */
/* CONTACT FORM */
/* AND CONTACT FORM */
/* CONTACT SOCIAL */

#contact {
	text-align: center;
}

/* END CONTACT SOCIAL */
/* ///// END CONTACT ///// */

/* /////////////////////// */
/* ///// END CONTENT ///// */
/* /////////////////////// */