/* MAIN */
body {
	background-color: #7db701;
	font-family: Arial, sans-serif;
	font-size: 1.5em;
	line-height: 1.5;
}

p {
	color: #7b7b7b;
}

.container {
	margin: -300px auto 0 auto;
	position: absolute;
	top: 50%;
	width: 100%;
	overflow: hidden;
}

.tab-content {
	padding: 30px;
}

.container div, .container img {
	max-height: 600px;
	max-width: 1140px;
	margin: 0 auto 0 auto;
}

#photography {
	position: relative;
}

#parag {
	position: absolute;
	bottom: 10px;
	left: 20px;
	color: white;
}	

/* ///// MAIN CONTENT ///// */

#menu, .tab-content {
	background-color: white;
}

/* MENU */