#photography img {
	max-height: 600px;
}

.tab-content {
	height: 557px;
}

.icon-on {
	display: none;
}

.airsoft img, .studio-brothers img {
	margin-right: 30px;
	float: left;
}

#email, #message {
	width: 300px;
}

#contact .contact-block {
	margin-top: 50px;
	background-color: #f9f9f9;
}

#contact .social_icon {
	width: 220px;
  margin: 40% auto;
}

.shift {
	padding-right: 180px;
}

#welcome .contact-block {
	margin-top: 100px;
}