.container {
	width: 350px;
}
#profile-data {
	text-align: center;
}

#photography img {
	width: 100%;
}

#parag {
	margin: 30px auto 50px auto;
	width: 100%;
	left: 0;
}

#block-message strong {
	display: none;
}

.icon-off {
	display: none;
}

.icon-on {
	padding-left: 10%;
}

.icon-on a {
	font-size: 19px;
	padding: 20px 17px;
}

.optional-panel {
	text-align: center;
}

.optional-panel .social_icon {
  text-align: center;
  margin-top: 20px;
}

.hr-button {
	float: none;
}

.contact-block td {
	display: block; 
}

.text-right {
	text-align: left;
	margin-left: 10px;
}

.post-header h3:before, .post-header h3:after {
  width: 10%;
}

.airsoft img, .studio-brothers img {
	display: block;
	margin: 0 auto 30px;
	width: 257px;
}

#email, #message {
	width: 260px;
}

.vcard img {
	margin-top: 30px;
	width: 257px;
}

.social_icon {
	margin: 30px;
}