.container {
	width: 470px;
}
#profile-data {
	height: 370px;
	background-image: url(../../img/bg.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
}

#photography {
	display: inline-block;
	height: 160px;
	width: 160px;
	margin: 30px auto 150px auto;
	overflow: hidden;
	border-radius: 100%;
}

#photography img {
	width: 100%;
}

#parag {
	margin: 30px auto 50px auto;
	width: 100%;
	left: 0;
}

.icon-off {
	display: none;
}

.icon-on {
	padding-left: 20%;
}

.icon-on a {
	font-size: 19px;
	padding: 20px 17px;
}