#photography img {
	max-height: 492px;
}

.tab-content {
	height: 450px;
}

.icon-on {
	display: none;
}

.text-right {
  padding-right: 10px;
}

.airsoft img, .studio-brothers img {
	margin-right: 30px;
	float: left;
}

#email, #message {
	width: 268px;
}

#message {
	height: 100px;
}

#contact blockquote {
	font-size: 15px;
}

#contact .contact-block {
	margin-top: 10px;
	background-color: #f9f9f9;
}

#contact .social_icon {
	width: 220px;
  margin: 40% auto;
}